*{
    margin: 0;   
}
body{
    font-family: 'roboto',sans-serif;
}

.navbar{
    width:100%;
    height: 50px;
    background-color: black;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding:0 50px;
    color: white;
    font-family: 'sens',sans-serif;
    .sidebar{
        position: relative;
    }
    
}
.logo-container{
    flex: 1;
}
.logo{
    font-family: 'sens',sans-serif;
    font-size: 30px;
    color:#4dbf00;
}
.menu-container{
    flex: 6;
}
.menu-list{
  display: flex; 
  list-style: none;
}
.menu-list-item{
    margin-top: 10px;
    margin-left: 30px;
    padding:10px ;
    background-color: #6c00bf;
    padding: 10PX 20PX;
    border-radius: 20PX;
    font-weight: bold;
    color: white;
}
.menu-list-item .active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
}
.profile-text-container{
   margin: 0 20px; 
   color: white;
   font-weight: bold;
}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.toggle{
    width: 50px;
    height: 20px;
    background-color: yellow;
    border-radius: 30px;
}
.sidebar{
    width: 50px;
    height:100% ;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

}
.left-menu-icon{
    color: white;
    font-size: 20;
    margin-bottom: 40px;
}
.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
color: white;
}
.image-list-title{
    color: azure;
    margin-left: 200px;
    margin-left: 50px;
}
.featured-button{
    padding:10px ;
    margin-left: 500px;
    background-color: #4dbf00;
    padding: 10PX 20PX;
    border-radius: 20PX;
    font-weight: bold;
}
.button-watch:hover{
    background: #eeee;
}
.featured-desc{
    margin-left: 200px; 
}
.image-list-container{
padding: 20px;
}
.image-list-wrapper{
    position: relative;
}
.image-list-item-img{
    width: 270px;
    height: 200px;
    margin-left: 50px;
    display: flex;
    object-fit: cover;
    
}
.image-list-item{
    display: flex;
    align-items: center;
    height: 300px;
    transition: all 1s ease-in-out;
}
.image-list{
    margin-left: 50px;
    position: relative;

}
.image-list-item:hover .image-list-item-img{
transform: scale(1.2);
margin:0 30px;
opacity: 0.5;
}
.image-list-item:hover .image-list-item-title,
.image-list-item:hover .image-list-item-desc,
.image-list-item:hover .image-list-item-button{
   opacity: 1; 
}
.image-list-item-button{
margin-left: 50px;
margin-top: 220px;
position: absolute;
padding: 5px;
background-color: #4dbf00;
border-radius: 10px;
outline: none;
border: none;
cursor: pointer;
bottom:100px;
left: 50px;
opacity: 0;
transition: 1s all ease-in-out;
}
.image-list-item-desc{
    margin-left: 50;
}
.image-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
   position: absolute; 
   left: 50px;
   opacity: 0;
   transition: 1s all ease-in-out;
}
.image-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
   position: absolute; 
   top: 30%;
   left: 50px;
   width: 200px;
opacity: 0;
}
.arrow{
    color:white;
    font-size: 120px;
    position: fixed;
    top: 90px;
    margin-left: 50px;
    margin-top: 150px;
    right: 0;
    opacity: 10;
    cursor: pointer;
}
form{
    background: #fff;
    width: 400px;
    height: 35px;
    display: flex;
    margin-left: 720px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
form input{
   flex: 1;
   border: none;
    outline: none;
}
form button{
    background: tomato;
    padding: 10px 50px;
border: none;
outline: none;
color: #fff;
letter-spacing:1px;
cursor:pointer;
border-radius: 10px;
position: relative;
}
form .fa-search{
align-self: center;
color: #151515;
padding: 10px 20px;
}
